<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.mapper.AttendanceMapper">
	<select id="getTodayAttendance" resultType="com.example.lms.dto.AttendanceDTO">
		SELECT
			SUBSTRING(c.course_name, 1, 3) AS courseName,  <!-- 과정 이름 추출 -->
			COUNT(*) AS total,							   <!-- 반별 전체 학생 수 -->
			SUM(CASE WHEN a.status IN('출석', '지각', '조퇴') THEN 1 ELSE 0 END) AS attended  <!-- 출석한 학생 수 -->
		FROM attendance AS a
			INNER JOIN course AS c
			ON a.course_id = c.course_id
		WHERE DATE = CURDATE()  <!-- 오늘 날짜만 조회 -->
		GROUP BY a.course_id, courseName
		ORDER BY a.course_id; 
	</select>
		<!-- 학생(본인) 출석 현황 -->
	<select id="selectAttendanceListByStudentId" parameterType="map" resultType="com.example.lms.dto.AttendanceDTO">
	SELECT attendance_no AS attendanceNo , student_no AS studentNo , course_id AS courseId , DATE , STATUS
	FROM attendance
	WHERE student_no = #{studentNo}
	</select>
</mapper>