<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.mapper.AttendanceFileMapper">
	<!-- 삭제 -->
	<delete id="deleteAttendanceFile" parameterType="com.example.lms.dto.AttendanceFileDTO">
		DELETE FROM attendance_file WHERE attendance_no = #{attendanceNo}
	</delete>
	<!-- 등록 -->
	<insert id="insertAttendanceFile" parameterType="com.example.lms.dto.AttendanceFileDTO">
		INSERT INTO attendance_file (teacher_no, attendance_no, file_name, base64_data)
		VALUES (#{teacherNo}, #{attendanceNo}, #{fileName}, #{base64Data})
	</insert>
		
	<select id="getAttendanceFileByCourse" parameterType="int" resultType="com.example.lms.dto.AttendanceFileDTO">
		SELECT 
			f.file_id fileId,
			f.teacher_no teacherNo,
			f.attendance_no attendanceNo,
			f.file_name fileName,
			f.base64_data base64Data,
			f.upload_date uploadDate,
			a.student_no studentNo,
			a.date
		FROM attendance_file f
		JOIN attendance a ON f.attendance_no = a.attendance_no
		WHERE a.course_id = #{courseId}
	</select>
	
	<!-- 미리보기/다운로드용 파일 아이디로 정보조회 -->
	<select id="getFileById" parameterType="int" resultType="com.example.lms.dto.AttendanceFileDTO">
		SELECT file_id fileId, teacher_no teacherNo, attendance_no attendanceNo, file_name fileName, base64_data base64Data, upload_date uploadDate
		FROM attendance_file
		WHERE file_id = #{fileId}
	</select>
</mapper>