<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.mapper.FileBoardMapper">
	
	<!-- 푸터용 fileBoard 최신 n개 미리보기 -->
	<select id="selectLatestFileBoard" resultType="com.example.lms.dto.FileBoardDTO" parameterType="int">
		SELECT
			file_board_no AS fileBoardNo,
	        admin_id AS adminId,
	        title,
	        content,
	        create_date AS createDate,
	        update_date AS updateDate
		FROM file_board
		ORDER BY create_date DESC
		LIMIT #{count}
	</select>
	
	<!-- 전체 개수 -->
	<select id="totalCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM file_board
		WHERE title LIke CONCAT('%', #{keyword}, '%')
	</select>
	
	<!-- 자료실 리스트 -->
	<select id="selectFileBoardList" resultType="com.example.lms.dto.FileBoardDTO">
		SELECT
			file_board_no AS fileBoardNo,
	        admin_id AS adminId,
	        title,
	        content,
	        create_date AS createDate,
	        update_date AS updateDate
		FROM file_board
		WHERE title LIKE CONCAT('%', #{keyword}, '%')
		ORDER BY create_date DESC
		LIMIT #{startRow}, #{rowPerPage}
	</select>
	
	<!-- 작성 -->
	<insert id="insertFileBoard" parameterType="com.example.lms.dto.FileBoardDTO">
		INSERT INTO file_board (title, content, admin_id, create_date)
			VALUES(#{title}, #{content}, #{adminId}, NOW())
	</insert>
	
	<!-- 상세보기 -->
	<select id="selectFileBoardOne" parameterType="int" resultType="com.example.lms.dto.FileBoardDTO">
		SELECT
			file_board_no AS fileBoardNo,
	        admin_id AS adminId,
	        title,
	        content,
	        create_date AS createDate,
	        update_date AS updateDate
		FROM file_board
		WHERE file_board_no = #{fileBoardNo}
	</select>
	
	<!-- 수정 -->
	<update id="updateFileBoard" parameterType="com.example.lms.dto.FileBoardDTO">
		UPDATE file_board
		SET title = #{title}, content = #{content}
		WHERE file_board_no = #{fileBoardNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteFileBoard" parameterType="com.example.lms.dto.FileBoardDTO">
		DELETE
		FROM file_board
		WHERE file_board_no = #{fileBoardNo}
	</delete>

</mapper>