<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lms.mapper.QnaCommentMapper">
	
	<!-- 댓글 리스트 -->
	<select id="selectQnaCommentList" parameterType="map" resultType="com.example.lms.dto.QnaCommentDTO">
		SELECT 
			comment_id AS commentId,
			qna_id AS qnaId,
			writer_id AS writerId,
			writer_role AS writerRole,
			content,
			parent_comment_id AS parentCommentId,
			create_date AS createDate,
			update_date AS updateDate
		FROM qna_comment
		WHERE qna_id = #{qnaId}
		ORDER BY create_date ASC
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="insertQnaComment" parameterType="com.example.lms.dto.QnaCommentDTO">
		INSERT INTO qna_comment (qna_id, writer_id, writer_role, content, parent_comment_id, create_date)
			VALUES(#{qnaId}, #{writerId}, #{writerRole}, #{content}, #{parentCommentId}, NOW() + INTERVAL 9 HOUR)
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateQnaComment" parameterType="com.example.lms.dto.QnaCommentDTO">
		UPDATE qna_comment
		SET content= #{content},
			
			update_date = #{updateDate}
		WHERE comment_id = #{commentId}
	</update>
	
	<!-- 해당 QnA에 달린 모든 댓글 삭제 (부모+대댓글 포함) -->
	<delete id="deleteCommentsByQnaId" parameterType="int">
		DELETE
		FROM qna_comment
		WHERE qna_id = #{qnaId}
	</delete>
	
	<!-- 댓글 삭제 -->
	<!-- 확장성을 위해 parameterType을 int로 안받고 dto로 받음 -->
	<delete id="deleteQnaComment" parameterType="int">
		DELETE
		FROM qna_comment
		WHERE comment_id = #{commentId}
	</delete>
	
	<!-- 대댓글도  삭제-->
	<delete id="deleteRepliesByParentId" parameterType="int">
	  DELETE FROM qna_comment
	  WHERE parent_comment_id = #{commentId}
	</delete>
	
	<!-- 댓글 1개 조회 -->
	<select id="selectQnaCommentById" parameterType="int" resultType="com.example.lms.dto.QnaCommentDTO">
	SELECT 
		comment_id AS commentId,
		qna_id AS qnaId,
		writer_id AS writerId,
		writer_role AS writerRole,
		content,
		parent_comment_id AS parentCommentId,
		create_date AS createDate,
		update_date AS updateDate
	FROM qna_comment
	WHERE comment_id = #{commentId}
	</select>
	
	<!-- QnA 글에 달린 모든 대댓글 삭제 -->
<delete id="deleteChildCommentsByQnaId" parameterType="int">
	DELETE FROM qna_comment
	WHERE qna_id = #{qnaId}
	AND parent_comment_id IS NOT NULL
</delete>

<!-- QnA 글에 달린 모든 부모 댓글 삭제 -->
<delete id="deleteParentCommentsByQnaId" parameterType="int">
	DELETE FROM qna_comment
	WHERE qna_id = #{qnaId}
	AND parent_comment_id IS NULL
</delete>

	
	
</mapper>