.header {
    background-color: #F7FAF0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 12px 30px;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    position: relative;
}


.header .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4em;
    color: #333;
    position: relative;  
    left: 40px;          
    transform: none;    
}


.header .logo-container img {
    width: 40px;
    height: auto;
}

.header .nav {

    display: flex;
    gap: 30px;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.header .nav {
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
}

.header .nav a {
    color:#2F4F4F ; /* 진한 연두 초록 */
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 3px;
    transition: color 0.3s ease;
}

.header .nav a:hover,
.header .nav a:focus {
    color: #63C285; /* 밝은 연두 */
    outline: none;
}
