@charset "UTF-8";

/* 공지사항 리스트 */
.notice-content {
  padding-left: 300px; /* 사이드바가 약 250px이면 이 정도 */
  padding-top: 30px;
  
  /* 공지사항 수정 폼 */
 .form-group {
    display: flex;
    align-items: center; /* 수직 정렬 맞춤 */
    margin-bottom: 15px;
  }

  .form-group label {
    width: 70px;
    font-weight: bold;
  }

  .form-control {
    width: 400px;
    padding: 8px;
    font-size: 16px;
  }
  
    .form-control[readonly] {
    background-color: #eee;
    color: #333;
  }

  textarea.form-control {
    height: 200px;
    resize: vertical;
  }
}
